@tailwind base;
@tailwind components;
@tailwind utilities;

[x-cloak] {
    display: none;
}
.toggle-content{
    display: none;
    height: 0;
    overflow: hidden;
    transition:  all 350ms ease-in-out;
}
.toggle-content.is-visible{
    display: block;
    height: auto;
}